.Post-body {
	font-size: 18px;
}

.Hero h1 {
	color: var(--text-color);
	font-weight: 600;
	font-size: 3em;
}

.Hero {
	background: transparent;
}


@media (max-width:767.98px) {
	.DiscussionHero-items {
	display:flex;
	flex-direction: column-reverse;
	}
	
.DiscussionHero .item-tags {
    text-align: left;
	}
}

.DiscussionHero .item-title {
	margin-bottom: 15px;
	text-align: left;
}

@media (min-width:768px) {
.DiscussionHero-items {
	display:flex;
	flex-direction: row-reverse;
	}
	
.DiscussionHero .item-tags {
	margin: auto 0;
    text-align: right;
	}
}


.TagLabel-name {
    font-size: 2em;
}

.Hero .container {
	border-bottom: 1px solid #efefef;
}

.Post-body h1 {
	color: var(--primary-color);
}

.Post-body h2 {
	border-left: 1.3em solid var(--secondary-color);
	padding-left: .5em;
	background: var(--alert-success-bg);
}

.Post-body h3 {
	color: var(--button-primary-bg);
}

.Post-body h4 {
	color: var(--discussion-title-color);
}

.IndexPage-nav .item-newDiscussion {
	display: none;
}

.PostUser-badges .Badge {
	display: none;
}

.Header-title a {
	color: var(--text-color);
	font-size: 1.5rem;
	font-weight: 700;
}

.DiscussionListItem-info > .item-tags {
	display: none;
}

.DiscussionListItem-count {
	display: none;
}

.item-controls .Button:not(.itemCount1):not(.Dropdown-toggle) .Button-label {
	visibility: hidden;
}

.item-controls .Button:not(.itemCount1):not(.Dropdown-toggle) .Button-label:before {
	content: "Login to View";
	visibility: initial;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.EventPost, .EventPost a {
	display: none;
}

.Post-body img, .Post-body iframe {
	max-width: 100%;
}

.TagsPage .sideNav > ul > li:first-child {
	display: none;
}

@media (min-width: 768px) {
	.Post {
		padding-left: 1rem;
	}
	
	.PostUser-avatar {
		left: -2.5rem;
		top: -.5rem;
		--size: 32px;
	}
	
	.Post-header {
		margin-left: 2.5rem;
	}
	
	.ReplyPlaceholder .Avatar {
		margin-top: -13px;
		margin-left: 2em;
	}
}

.PostStream-timeGap {
	display: none;
}

.Header-title {
	visibility: hidden;
	width: 50%;
}

.Header-title:before {
	content: "Medmarch";
	visibility: initial;
	font-weight: 600;
	font-size: 2rem;
}

#home-link {
	display: none;
}

.footnav {
	font-size: 1rem;
	padding: 1rem;
	color: var(--discussion-title-color);
}

.footnav a {
	color: var(--discussion-title-color);
}

.copyright {
	font-size: 1rem;
	padding: 1rem;
	color: var(--discussion-title-color);
}

.footer {
    background: #f5f5f5;
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}